<div
  id="contact-form"
  data-signals="
    {
        firstName: '{{ User.Firstname }}',
        lastName: '{{ User.Lastname }}',
        email: '{{ User.Email }}'
    }
  "
>
  {% for error in ValidationErrors %}
    <div
      class="flex items-center p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50"
      role="alert"
    >
      <svg
        class="shrink-0 inline w-4 h-4 me-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
      </svg>
      <span class="sr-only">Info</span>
      <div class="px-2"><span class="font-medium">Validation error!</span> {{ error.ErrorMessage }}</div>
    </div>
  {% endfor %}
  <div class="grid gap-6 mb-6 md:grid-cols-2">
    <div>
      <label
        class="block mb-2 text-sm font-medium text-white-900 underline"
      >
        First name
      </label>
      <input
        type="text"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        data-bind="firstName"
      >
    </div>
    <div>
      <label
        class="block mb-2 text-sm font-medium text-white-900 underline"
      >
        Last name
      </label>
      <input
        type="text"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        data-bind="lastName"
      >
    </div>
  </div>
  <div class="mb-6">
    <label
      class="block mb-2 text-sm font-medium text-white-900 underline"
    >
      Email address
    </label>
    <input
      type="email"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      data-bind="email"
    >
  </div>
  <div class="flex gap-4">
    <button
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
      data-on-click="@put('/examples/click-to-edit/update-contact')"
    >
      Save
    </button>
    <button
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
      data-on-click="@get('/examples/click-to-edit/view-contact')"
    >
      Cancel
    </button>
  </div>
</div>
