<a
  href="/examples"
  class="bg-[#b39552] text-white p-6 w-full block p-2 rounded-sm hover:no-underline text-center text-xl mt-4 mb-6"
>
  BACK TO EXAMPLES
</a>

<section class="p-12 bg-white/5 rounded-lg mb-6">
  <h2 class="text-4xl font-medium mb-6 text-[#957B44]">Delete row</h2>
  <h3 class="text-3xl font-medium mb-6 text-[#957B44]">Example</h3>
  ...
</section>

<section class="p-12 bg-white/5 rounded-lg mb-6">
  <h3 class="text-3xl font-medium mb-6 text-[#957B44]">Todo</h3>
  <h4 class="text-lg font-medium mb-4 text-[#957B44] uppercase">
    {% partial '_Shared/ListCheckbox' %}
    
  </h4>
</section>

<section class="p-12 bg-white/5 rounded-lg mb-6">
  <h3 class="text-3xl font-medium mb-6 text-[#957B44]">Inspirations</h3>
  <a href="#" class="block text-md leading-10" target="_blank">
    Original Datastar example
  </a>
  <a href="#" class="block text-md leading-10" target="_blank">
    Original HTMX example
  </a>
</section>