<header class="mt-8 py-4 text-base">
  <div class="max-w-screen-lg mx-auto px-4">
    <div class="flex flex-row gap-4 mb-2 py-6 justify-between">
      <div class="flex gap-4">
        <a href="/" target="_blank" aria-label="Visit Datastar website">
          <img src="/images/maskot.png" alt="Profile" class="h-[80px] -mt-[20px]" />
        </a>
        <a
          href="https://github.com/elfaralfreds/DatastarAndFastEndpointsExamples"
          target="_blank"
          aria-label="Visit Elfar's GitHub profile"
        >
          <img src="/images/elfar.jpg" alt="Profile" class="h-[40px] w-[40px] rounded-full" />
        </a>
        <a href="/" style="text-decoration: none; cursor: pointer; color: #fff;">
            <h1 class="text-2xl leading-[40px]">
                .Net + Datastar + FastEndpoints
            </h1>
        </a>
      </div>
      <div class="flex gap-4 leading-[40px]">
        {% rendersection headerbuttons %}
      </div>
    </div>
  </div>
</header>
