{% layout '_Layouts/Default' %}

{% section headerbuttons %}
    <a
        href="/admin"
        class="block bg-[#b39552] text-white px-4 rounded-sm hover:no-underline text-center text-md h-[40px]"
        >
      Admin
    </a>
{% endsection %}

{% section header %}
{% partial '_Shared/Header' %}
{% endsection %}

{% section footer %}
{% partial '_Shared/Footer' %}
{% endsection %}
