<section class="p-12 bg-white/5 rounded-lg mb-6">
  <h2 class="text-4xl font-medium mb-6 text-[#957B44]">Datastar Examples</h2>
  <p class="text-xl leading-10 mb-4">
    PORTED HTMX EXAMPLES
  </p>

  <div class="mb-10">
    <h3 class="text-3xl font-medium mb-4 text-[#957B44] uppercase">
        {% partial '_Shared/TodoItemDone' %}
        Active search
    </h3>
    <p class="text-lg leading-6 mb-4">
        This example actively searches a notes database as the user enters text
    </p>
    <a href="/examples/active-search" class="text-lg">
        View example 
    </a>
  </div>

  <div class="mb-10">
    <h3 class="text-3xl font-medium mb-4 text-[#957B44] uppercase">
        {% partial '_Shared/TodoItemInProgress' %}
        Animations
        <small>( Work in progress )</small>
    </h3>
    <p class="text-lg leading-6 mb-4">
        Use CSS transitions to add smooth animations and transitions to your web page
    </p>
    <a href="/examples/animations" class="text-lg">
        View example 
    </a>
  </div>

  <div class="mb-10">
    <h3 class="text-3xl font-medium mb-4 text-[#957B44] uppercase">
        {% partial '_Shared/TodoItem' %}
        Bulk update
    </h3>
    <p class="text-lg leading-6 mb-4">
        This example shows how to implement a common pattern where rows are selected and then bulk updated.
    </p>
    <a href="/examples/bulk-update" class="text-lg">
        View example 
    </a>
  </div>

  <div class="mb-10">
    <h3 class="text-3xl font-medium mb-4 text-[#957B44] uppercase">
        {% partial '_Shared/TodoItemDone' %}
        Click to edit
    </h3>
    <p class="text-lg leading-6 mb-4">
        The click to edit pattern provides a way to offer inline editing of all or part of a record without a page refresh
    </p>
    <a href="/examples/click-to-edit" class="text-lg">
        View example 
    </a>
  </div>

  <div class="mb-10">
    <h3 class="text-3xl font-medium mb-4 text-[#957B44] uppercase">
        {% partial '_Shared/TodoItem' %}
        Click to load
    </h3>
    <p class="text-lg leading-6 mb-4">
        This example shows how to implement click-to-load the next page in a table of data
    </p>
    <a href="/examples/click-to-load" class="text-lg">
        View example 
    </a>
  </div>

  <div class="mb-10">
    <h3 class="text-3xl font-medium mb-4 text-[#957B44] uppercase">
        {% partial '_Shared/TodoItem' %}
        Delete row
    </h3>
    <p class="text-lg leading-6 mb-4">
        This example shows how to implement a delete button that removes a table row upon completion
    </p>
    <a href="/examples/delete-row" class="text-lg">
        View example 
    </a>
  </div>

  <div class="mb-10">
    <h3 class="text-3xl font-medium mb-4 text-[#957B44] uppercase">
        {% partial '_Shared/TodoItem' %}
        Dialogs browser
    </h3>
    <p class="text-lg leading-6 mb-4">
        Dialogs can be triggered with the standard browser prompt and confirm within an expression
    </p>
    <a href="/examples/dialogs-browser" class="text-lg">
        View example 
    </a>
  </div>

  <div class="mb-10">
    <h3 class="text-3xl font-medium mb-4 text-[#957B44] uppercase">
        {% partial '_Shared/TodoItem' %}
        Edit row
    </h3>
    <p class="text-lg leading-6 mb-4">
        This example shows how to implement editable rows
    </p>
    <a href="/examples/edit-row" class="text-lg">
        View example 
    </a>
  </div>

  <div class="mb-10">
    <h3 class="text-3xl font-medium mb-4 text-[#957B44] uppercase">
        {% partial '_Shared/TodoItem' %}
        File upload
    </h3>
    <p class="text-lg leading-6 mb-4">
        In this example we show how to create a file upload form that will be submitted via fetch
    </p>
    <a href="/examples/file-upload" class="text-lg">
        View example 
    </a>
  </div>

  <div class="mb-10">
    <h3 class="text-3xl font-medium mb-4 text-[#957B44] uppercase">
        {% partial '_Shared/TodoItem' %}
        Indicator
    </h3>
    <p class="text-lg leading-6 mb-4">
        Show a loading indicator
    </p>
    <a href="/examples/indicator" class="text-lg">
        View example 
    </a>
  </div>

  <div class="mb-10">
    <h3 class="text-3xl font-medium mb-4 text-[#957B44] uppercase">
        {% partial '_Shared/TodoItem' %}
        Infinite scroll
    </h3>
    <p class="text-lg leading-6 mb-4">
        The infinite scroll pattern provides a way to load content dynamically on user scrolling action
    </p>
    <a href="/examples/infinite-scroll" class="text-lg">
        View example 
    </a>
  </div>

  <div class="mb-10">
    <h3 class="text-3xl font-medium mb-4 text-[#957B44] uppercase">
        {% partial '_Shared/TodoItem' %}
        Inline validation
    </h3>
    <p class="text-lg leading-6 mb-4">
        This example shows how to do inline field validation
    </p>
    <a href="/examples/inline-validation" class="text-lg">
        View example 
    </a>
  </div>

  <div class="mb-10">
    <h3 class="text-3xl font-medium mb-4 text-[#957B44] uppercase">
        {% partial '_Shared/TodoItem' %}
        Lazy load
    </h3>
    <p class="text-lg leading-6 mb-4">
        This example shows how to lazily load an element on a page. We start with an initial state showing a spinner and the loading text
    </p>
    <a href="/examples/lazy-load" class="text-lg">
        View example 
    </a>
  </div>

  <div class="mb-10">
    <h3 class="text-3xl font-medium mb-4 text-[#957B44] uppercase">
        {% partial '_Shared/TodoItem' %}
        Lazy tabs
    </h3>
    <p class="text-lg leading-6 mb-4">
        Shows how easy it is to implement tabs using Datastar
    </p>
    <a href="/examples/lazy-tabs" class="text-lg">
        View example 
    </a>
  </div>

  <div class="mb-10">
    <h3 class="text-3xl font-medium mb-4 text-[#957B44] uppercase">
        {% partial '_Shared/TodoItemDone' %}
        Progress bar
    </h3>
    <p class="text-lg leading-6 mb-4">
        This example shows how to implement an updating progress graphic
    </p>
    <a href="/examples/progressbar" class="text-lg">
        View example 
    </a>
  </div>

  <div class="mb-10">
    <h3 class="text-3xl font-medium mb-4 text-[#957B44] uppercase">
        {% partial '_Shared/TodoItem' %}
        Sortable
    </h3>
    <p class="text-lg leading-6 mb-4">
        In the original example you had to hook into HTMX's events. With Datastar, you can easily listen for custom events using data-on-*, and update signals to effect change
    </p>
    <a href="/examples/sortable" class="text-lg">
        View example 
    </a>
  </div>

  <div class="mb-10">
    <h3 class="text-3xl font-medium mb-4 text-[#957B44] uppercase">
        {% partial '_Shared/TodoItem' %}
        Value select
    </h3>
    <p class="text-lg leading-6 mb-4">
        In this example we show how to make the values in one select depend on the value selected in another select.
    </p>
    <a href="/examples/value-select" class="text-lg">
        View example 
    </a>
  </div>
</section>
