<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Leitstern - .net + Datastar</title>
  <link href="/css/style.css" rel="stylesheet" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />  
</head>
<body class="bg-[#1d2a40] text-[#fff]">
    {% rendersection header %}

    <main class="max-w-screen-lg mx-auto px-4 py-4">
    {% partial '_Shared/Main' %}
    </main>
    
    {% rendersection footer %}

    <script defer src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/gh/starfederation/datastar@v1.0.0-beta.11/bundles/datastar.js"></script>
</body>
</html>