@import "tailwindcss";

@import "flowbite/src/themes/default";

@source "../node_modules/flowbite";
@source "../Views/**/*.{liquid,cs}";

@plugin "flowbite/plugin";

@theme {
  --font-mono: Monaco, Consolas, "Lucida Console", monospace;
  --link-color: #957b44;
  --link-hover-color: #b39552;
}

@layer base {
  * {
    font-family: var(--font-mono);
  }

  h1,
  h2,
  h3,
  h5,
  h6 {
    font-weight: 500;
  }

  a { 
    color: var(--link-color);
  }
  a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
  }
}
/* 
@theme {
  --background-color: #1d2a40;
  --accent-color: #957b44;
  --max-width: 1200px;
  --container-padding: 1rem;
  --font-mono: Monaco, Consolas, "Lucida Console", monospace;
  --font-size-base: 18px;
  --line-height-base: 1.8;
  --font-size-h1: clamp(2rem, 5vw, 3rem);
  --font-size-h2: clamp(1.75rem, 4vw, 2.5rem);
  --font-size-h3: clamp(1.5rem, 3vw, 2rem);
  --font-size-h4: clamp(1.25rem, 2.5vw, 1.75rem);
  --paragraph-size: clamp(1.125rem, 2vw, 1.25rem);
  --mobile: 320px;
  --tablet: 768px;
  --desktop: 1200px;
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;
  --font-size-base: clamp(16px, 2vw, 18px);
  --font-size-h1: clamp(1.75rem, 5vw, 3rem);
  --font-size-h2: clamp(1.5rem, 4vw, 2.5rem);
  --font-size-h3: clamp(1.25rem, 3vw, 2rem);
  --font-size-h4: clamp(1.1rem, 2.5vw, 1.75rem);
  --paragraph-size: clamp(1rem, 2vw, 1.25rem);
}

@layer base {
  html {
    font-size: var(--font-size-base);
  }

  body {
    background-color: var(--background-color);
    color: #ffffff;
    font-family: var(--font-mono);
    line-height: var(--line-height-base);
    font-size: var(--paragraph-size);
  }

  footer {
    margin-top: var(--spacing-lg);
    padding: var(--spacing-md) 0;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 1rem;
  }

  * {
    color: var(--color-white);
  }
} */
